#navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100vh;
    position: fixed;
    float: left;
    width: 25%;
}

#main-doc {
    display: flex;
    flex-direction: column;
    margin-left: 25%;
    align-items: center;
}

.main-section-header {
    font-size: 2em;
    font-weight: 600;
    text-align: center;
}